body {
	scrollbar-color: transparent transparent;
}

.carousel {
	font-family: Rubik;
	color: rgba(255,255,255, 0.9);
	margin-top: 20px;
	padding-bottom: 30px;
	height: 97.5vh;
	overflow: hidden;
}

.carousel-background-display {
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: rgb(100,100,100);
	border-radius: 20px;
	box-shadow: 0px 3px 5px rgb(0,0,0);
}

.carousel-background-display img {
	position: absolute;
	filter: blur(5px);
	width: 105%;
	top: -2.5%;
	left: -2.5%;
	transition: all 1s;
}

#carouselBG2 {
	position: absolute;
}

.carousel-hidden {
	opacity: 0;
}

.carousel-text {
	background-color: rgba(50,50,50, 0.6);
	box-shadow: 0px 2px 3px rgba(0,0,0, 0.7);
	position: relative;
	top: -104%;
	width: 60%;
	padding-left: 1%;
	border-radius: 10px;
	font-size: 40px;
	text-shadow: 0px 0px 9px rgba(0,0,0,1);
	transition: all 1s;
	text-align: left;
}

.carousel-subtext {
	background-color: rgba(0,0,0, 0.2);
	box-shadow: 0px 2px 3px rgba(0,0,0, 0.3);
	top: -81%;
	width: 100%;
	font-size: 80px;
	font-weight: bold;
}

#projectTitle.carousel-subtext {
	padding-left: 3.5%;
	top: -83.5%;
	border-radius: 0;
}

#projectDescription.carousel-subtext {
	top: -93%;
	left: -10%;
	font-size: 24px;
	height: 10%;
	width: 60%;
	padding-left: 13.75%;
	padding-right: 2%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.carousel-label {
	margin-top: 8%;
	margin-bottom: -15%;
	width: 20%;
	left: -2%;
	padding-left: 4%;
}

#projectTitleLabel.carousel-label {
	top: -106%;
}

#projectCarouselLabel.carousel-label {
	top: -121.5%;
	width: 50%;
}

.carousel-visit-button {
	position: relative;
	width: 100%;
	height: 95px;
	top: -61%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.carousel-container {
	position: relative;
	background-color: rgba(0,0,0, 0.2);
	box-shadow: 0px 2px 3px rgba(0,0,0, 0.3);
	padding-top: 5px;
	top: -88%;
	width: 100%;
	height: 150px;
	text-align: center;
	overflow: hidden;
	overflow-x: scroll;
	z-index: 1;
	transition: all 1s;
}

.carousel-scroll-controller {
	position: relative;
	background-color: rgba(0,0,0,0);
	padding-top: 5px;
	top: -111%;
	width: 100%;
	height: 22.5%;
	z-index: 2;
	transition: all 1s;
	pointer-events: none;
}

.carousel-scroll-controller div {
	position: absolute;
	width: 10%;
	height: 100%;
	pointer-events: auto;
	display: flex;
	align-items: center;
	font-size: 90pt;
	color: rgb(255,255,255,0.6);
	overflow: visible;
}

#carousel-scroll-left {
	left: 0;
	justify-content: left;
	transform: translateX(-30%) scaleX(40%);
}

#carousel-scroll-right {
	right: 0;
	justify-content: right;
	transform: translateX(30%) scaleX(40%);
}

.carousel-scroll-flash {
	width: 300px !important;
	height: 120px !important;
	border-radius: 100%;
	background-color: rgb(150,150,150,0);
	transition: all 0.2s;
}

.carousel-scroll-flash.left {
	transform: translateX(-50%) scaleX(0);
}

.carousel-scroll-flash.right {
	transform: translateX(50%) scaleX(0);
}

.carousel-scroll-flash.flash {
	width: 300px !important;
	height: 140px !important;
	background-color: rgb(255,255,255,0.1);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

.carousel-scroll-flash.flash.left {
	transform: translateX(-55%) scaleX(165%);
}

.carousel-scroll-flash.flash.right {
	transform: translateX(55%) scaleX(165%);
}

.carousel-scroll {
	left: 0;
	top: 0;
	width: 3600px;
	height: 100%;
	overflow: none;
}

.carousel-scroll a,
.carousel-scroll img {
	width: 150px;
	height: 65%;
	background-color: rgba(200,200,200,0.5);
	border-radius: 10px;
	margin: 1.5% 0px 0px 3%;
	float: left;
	opacity: 0.9;
	box-shadow: 0px 3px 4px rgb(0,0,0);
	transition: all 0.1s;
	display: flex;
	justify-content: center;
	text-decoration: none;
}

.carousel-scroll img.selected {
	box-sizing: border-box;
	border: 4px rgba(70,250,150,0.8) ridge;
	box-shadow: 0px 3px 4px rgba(10,190,90,0.8);
}

.carousel-scroll-viewall {
	display: flex;
	font-size: 25px;
	text-shadow: 0px 0px 3px rgb(0,0,0);
	color: rgba(255,255,255,0.9);
	justify-content: center;
	align-items: center;
}

.carousel-scroll img:hover,
.carousel-scroll a:hover {
	width: 160px;
	height: 70%;
	margin: 1.3% 0 0 2.75%;
}

.carousel-scroll img:active{
	box-sizing: border-box;
	border: 10px rgba(70,250,150,0.8) ridge;
	box-shadow: 0px 3px 4px rgba(10,190,90,0.8);
}

.carousel-scroll img.selected:active{
	box-sizing: border-box;
	border: 10px rgba(70,250,150,0.8) ridge;
	box-shadow: 0px 3px 4px rgba(10,190,90,0.8);
}

@media screen and (max-width: 1200px) {
	#projectTitleLabel.carousel-label {
		top: -98%;
	}
	
	#projectCarouselLabel.carousel-label {
		top: -114%;
	}
	
	#projectDescription.carousel-subtext {
		font-size: 14pt;
	}
}

@media screen and (max-width: 900px) {
	.carousel-text {
		top: -105%;
		font-size: 30px;
	}
	
	.carousel-label {
		top: -98%;
	}

	.carousel-subtext {
		top: -84%;
		font-size: 50px;
	}
	
	#projectTitleLabel.carousel-label {
		top: -102%;
	}
	
	#projectCarouselLabel.carousel-label {
		top: -116.5%;
	}
	
	#projectTitle.carousel-subtext {
		top: -90%;
	}
	
	#projectDescription.carousel-subtext {
		top: -95%;
		width: 75%;
	}
	
	.carousel-container {
		top: -98%;
	}
	
	.carousel-visit-button {
		top: -52%;
		height: 100px;
		z-index: 2;
	}
	
	.carousel-visit-button a,
	.carousel-visit-button a:hover 
	.carousel-visit-button a:active {
		padding-top: 15px;
		padding-bottom: 15px;
		height: 20%;
	}
	
	.carousel-scroll-controller {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.carousel-background-display img {
		position: absolute;
		filter: blur(2px);
		width: 130%;
		top: -2.5%;
		left: -15%;
	}
	
	.carousel-text {
		padding-left: 10px;
		background-color: rgba(50,50,50, 0.4);
		box-shadow: 0px 2px 3px rgba(0,0,0, 0.6);
		width: auto;
		top: -102%;
		left: 5%;
		font-size: 28px;
		text-shadow: 0px 0px 5px rgb(0,0,0);
	}
	
	.carousel-container {
		top: -102%;
	}
	
	.carousel-label {
		top: -95%;
	}
	
	#projectTitleLabel.carousel-label {
		top: -96%;
	}
	
	#projectCarouselLabel.carousel-label {
		top: -113%;
		width: 100%;
	}
	
	#projectTitle.carousel-subtext {
		top: -90%;
		border-radius: 10px;
	}

	#projectDescription.carousel-subtext {
		top: -95%;
		left: 5%;
		width: 91%;
		padding-left: 3%;
		padding-right: 5%;
		font-size: 11pt;
	}

	.carousel-subtext {
		background-color: rgba(150,150,150, 0.1);
		box-shadow: 0px 2px 3px rgba(0,0,0, 0.4);
		font-size: 50px;
		border-radius: 10px;
		top: -90%;
		padding-left: 5%;
	}
	
	.carousel-visit-button {
		top: -68%;
	}
}

@media screen and (max-width: 460px) {
	.carousel-background-display img {
		width: 150%;
		top: -2.5%;
		left: -25%;
	}
	
	.carousel-subtext {
		font-size: 40px;
		top: -90%;
	}
	
	.carousel-visit-button {
		top: -50%;
	}
}

@media screen and (min-height: 760px) {
	#projectTitleLabel.carousel-label {
		top: -97%;
	}
	
	#projectCarouselLabel.carousel-label {
		top: -110.5%
	}
	
	#projectDescription.carousel-subtext {
		top: -90%;
	}
}

@media screen and (min-width: 1800px) {
	#projectTitleLabel.carousel-label {
		top: -105%;
	}
	
	#projectCarouselLabel.carousel-label {
		top: -118%;
	}
	
	#projectDescription.carousel-subtext {
		top: -91%;
	}
}
