@import url(https://fonts.googleapis.com/css?family=Rubik);

@font-face {
	font-family: Rubik;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	opacity: 0;
	transition: opacity 1s;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(70,250,150);
	opacity: 1;
}

::-webkit-scrollbar-thumb:active {
	background: rgb(0,180,80);
	opacity: 1;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(30,30,30);
	text-align: center;
	font-family: Rubik;
	color: rgb(255,255,255);
}

h1 {
	
}

p {
	font-size: 16px;
}

iframe {
	margin: auto;
	padding-top: 10px;
	display: block;
}

div {
	background: url() no-repeat;
	background-size: 100%;
	width: 100%;
	max-width: 1920px;
	min-width: 240px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

a, button {
	transition: all 0.3s;
}

.openButton {
	background-color: rgb(100,100,100);
}

.openButton:hover {
	background-color: rgb(130,130,130);
}

.openButton:active {
	background-color: rgb(90,90,90);
}

.indexButton {
	background-color: rgb(10,190,90);
	color: rgb(255,255,255);
	padding: 15px 60px;
	margin: 20px;
	text-decoration: none;
	text-align: center;
	border-radius: 20px;
	display: inline-block;
	font-size: 20px;
	box-shadow: 0px 5px 0px 0px rgb(30 90 30);
}

.indexButton:hover {
	background-color: rgb(70,250,150);
}

.indexButton:active {
	background-color: rgb(0,180,80);
	padding: 16px 62px;
	margin: 19px 18px;
	box-shadow: 0px 0px 0px 0px rgb(30 90 30);
}

.mainIndex {
	background: url() no-repeat;
	background-color: rgb(60,60,60);
	height: 97.5vh;
	border-radius: 30px;
	box-shadow: 0px 3px 5px rgb(0,0,0);
}

.mainIndex p {
	font-size: 30px;
}

.mainText {
	margin-top: 18%;
	font-size: 50px;
	margin-bottom: 5%;
}

.nonMainText {
	margin: 50px 0 15px 0;
	font-size: 40px;
}

.subIndex {
	height: 900px;
}

.subIndex p:first-child{
	margin-top: 15%;
	font-weight: bold;
	font-size: 25px;
}

.subIndex p{
	font-size: 20px;
}

.subHeading {
	margin-top: 10px;
	margin-bottom: 20px;
}

.gameGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 48%);
	grid-gap: 10px;
	justify-content: center;
}

.gameSection {
	background-color: rgb(60,60,60);
	/*margin: 10px 5px 5px 7px;*/
	/*max-width: 49%;*/
	height: 195px;
	float: left;
	border-radius: 5px;
	box-shadow: 0px 5px 0px 0px rgb(40 40 40);
}

.gameSection:hover {
	background-color: rgb(100,100,100);
	box-shadow: 0px 5px 0px 0px rgb(80 80 80);
}

.gameSection:active {
	background-color: rgb(50,50,50);
	box-shadow: 0px 5px 0px 0px rgb(40 40 40);
}

.gameLink {
	display: grid;
	grid-template-columns: 25% 100%;
	grid-template-rows: 25% 25%;
	height: 100%;
	width: 100%;
	color: rgb(255,255,255);
	text-decoration: none;
}

.gameLink p{
	grid-column: 2/3;
}

.gameLink img{
	margin: 10px;
	width: 85%;
	float: left;
	border-radius: 5px;
}

.gameLink h2{
	text-align: left;
	margin: 10px 20% 8px 0.5%;
	float: left;
}

.gameLink p{
	text-align: left;
	margin: 5px 0 8px 1%;
	font-size: 14px;
	float: left;
	width: 64%;
}

.gamePageGameFrame {
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	max-width: 1920px;
	min-width: 0px;
	width: 100%;
	text-align: center;
}

.gamePageSection {
	background-color: rgb(60,60,60);
	margin: 10px 5px 5px 7px;
	width: 49%;
	height: 195px;
	float: left;
	display: block;
	border-radius: 5px;
}

.gamePageImageGallery {
	background-color: rgb(60,60,60);
	margin: 10px 0 5px 0;
	padding-bottom: 5px;
	float: left;
	border-radius: 5px;
}

.gamePageImageGallery img{
	margin: 5px 0.5% 10px 0.5%;
	width: 23%;
	border-radius: 5px;
	display: inline-block;
}

.gamePageSection h2{
	margin: 20px 0 10px 0;
}

.gamePageSection p{
	margin: 15px 20px 30px 20px;
	font-size: 14px;
	text-align: left;
}

.gamePageSection a{
	margin: 0 0 5px 0;
	display: block;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
	color: rgb(0,220,255);
}

.gamePageSection .listStatus{
	margin: 0 0 5px 0;
	display: block;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
}

.contactGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, 32%);
	grid-gap: 10px;
	justify-content: center;
}

.contactLink {
	display: grid;
	grid-template-columns: 25% 100%;
	grid-template-rows: 25% 65%;
	grid-gap: 10px;
	height: 100%;
	width: 100%;
	color: rgb(255,255,255);
	text-decoration: none;
}

.contactLink img{
	margin: 10px;
	width: 85%;
	float: left;
	border-radius: 5px;
}

.contactLink h2{
	text-align: left;
	margin: 10px 20% 8px 0.5%;
	float: left;
}

.contactLink p{
	grid-column: 2/3;
	text-align: left;
	margin: 5px 0 8px 1%;
	font-size: 14px;
	float: left;
	width: 64%;
}

.contactSection {
	background-color: rgb(60,60,60);
	/*margin: 10px 5px 5px 7px;*/
	/*max-width: 32.3%;*/
	height: 120px;
	float: left;
	/*display: block;*/
	border-radius: 5px;
	box-shadow: 0px 5px 0px 0px rgb(40 40 40);
}

.contactSection:hover {
	background-color: rgb(100,100,100);
	box-shadow: 0px 5px 0px 0px rgb(80 80 80);
}

.contactSection:active {
	background-color: rgb(50,50,50);
	box-shadow: 0px 5px 0px 0px rgb(40 40 40);
}

.topNav {
	background-color: rgb(100,100,100);
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 39px;
	opacity: 0.8;
	border-radius: 5px;
	z-index: 100;
}

.topNav a{
	background-color: rgb(100,100,100);
	float: left;
	display: block;
	font-size: 18px;
	padding: 10px 20px;
	color: rgb(255,255,255);
	text-decoration: none;
	text-align: center;
}

.topNav a:hover {
	background-color: rgb(130,130,130);
	text-decoration: underline;
	opacity: 1;
}

.topNav a:active {
	background-color: rgb(90,90,90);
	text-decoration: underline;
	opacity: 1;
}

.topNav .openButton {
	background-color: rgb(100,100,100);
	display: none;
	height: 20px;
}

#imageModal {
	position: fixed;
	display: block;
	margin: auto;
	left: 0;
	right: 0;
	top: -500%;
	bottom: 50%;
	width: 100%;
	max-height: 80%;
	z-index: 21;
	transition: top 0.5s;
	pointer-events: none;
}

#modalGalleryImage {
	max-width: 90%;
	max-height: 80%;
	pointer-events: auto;
}

#overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 20;
	transition: opacity 1s;
	opacity: 0;
	pointer-events: none;
}

#overlay button {
	display: block;
	background-color: rgba(1,1,1,0);
	border: 0px;
	z-index: 40;
	color: rgb(255,255,255);
	float: right;
	width: 15%;
	height: 15%;
	font-size: 4.5em;
}

#overlay button:active {
	border: 0px;
	color: rgb(150,150,150);
}

@media screen and (max-width: 1214px) {
	.gameSection {
		margin: 10px 0px 0px 0px;
		/*height: auto;*/
	}
	
	.gamePageSection {
		margin: 10px 0.25% 5px 0.25%;
		max-width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 1176px) {	
	.contactSection {
		margin: 5px 0.25% 5px 0.25%;
		width: 100%;
		display: inline-text;
	}
}

@media screen and (max-width: 900px) {	
	.contactSection {
		margin: 10px 0.25% 5px 0.25%;
		max-width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 700px) {
	.gameGrid {
		grid-template-columns: repeat(auto-fit, 100%);
	}
	
	iframe {
		height: 0;
	}
	
	.indexButton {
		margin: 7% 10% 5% 10%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		display: block;
	}
	
	.indexButton:hover {
		margin: 7% 10% 5% 10%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		display: block;
	}
	
	.indexButton:active {
		margin: 7% 10% 5% 10%;
		padding-top: 2.5%;
		padding-bottom: 2.5%;
		display: block;
	}
	
	.subIndex p {
		margin-bottom: 8%;
		line-height: 35px;
		font-size: 16px;
	}
	
	.subIndex p:first-child{
		margin-top: 30%;
		font-weight: bold;
		font-size: 22px;
	}
	
	.gamePageSection {
		margin: 10px 0.25% 5px 0.25%;
		width: 100%;
		height: auto;
	}
	
	.gamePageImageGallery {
		margin: 10px 0 5px 0;
	}
	
	.gamePageImageGallery img {
		margin: 5px 0.5% 5px 0.5%;
		width: 50%;
		float: none;
	}
	
	.subHeading {
		margin: 40px 10% 20px 10%;
		text-align: center;
	}
	
	.mainIndex p {
		margin-top: 120px;
		margin-bottom: 6%;
		font-size: 18px;
	}
	
	.mainText {
		margin-top: 250px;
		margin-bottom: 130px;
		font-size: 25px;
	}
	
	.mainText p {
		font-size: 16px;
	}
	
	.nonMainText {
		margin: 50px 0 15px 0;
		font-size: 45px;
		text-align: center;
	}
	
	.subHeading {
		margin-top: 5px;	
	}
	
	.topNav a:not(:first-child) {
		display: none;
	}
	
	.topNav a.openButton {
		float: right;
		display: block;
	}
	
	.topNav.responsive {
		position: fixed;
	}
	
	.topNav.responsive .openButton {
		position: fixed;
		right: 0;
		top: 0;
	}
	
	.topNav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
	#overlay button {
		width: 25%;
	}
	
	.contactGrid {
		grid-template-columns: repeat(auto-fit, 48%);
	}
}

@media screen and (max-width: 490px) {
	.contactGrid {
		grid-template-columns: repeat(auto-fit, 96%);
	}
	
	.contactGrid p {
		width: 50%;
	}
}

@media screen and (max-width: 420px) {
	.mainText {
		font-size: 20px;
	}
	
	.gameLink h2 {
		text-align: left;
		margin: 10px 0 15px 0.5%;
		float: left;
		width: 60%;
	}

	.gameLink p {
		text-align: left;
		margin: 0 0 15px 1%;
		font-size: 14px;
		float: left;
		width: 60%;
	}
}