@import url(https://fonts.googleapis.com/css?family=Rubik);

@font-face {
	font-family: Rubik;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(30,30,30);
	text-align: center;
	font-family: Rubik;
	color: rgb(255,255,255);
}

h1 {
	font-size: 40px;
}

div {
	background: url() no-repeat;
	background-size: 100%;
	width: 100%;
	max-width: 1920px;
	min-width: 480px;
	height: 100%;
	margin-left: -8px;
	margin-top: -8px;
	overflow: hidden;
	text-align: center;
}

.openButton {
	background-color: rgb(255,255,255);
}

.mainIndex {
	background: url() no-repeat;
	background-color: rgb(60,60,60);
	background-size: 100%;
	padding-right: 16px;
	width: 100%;
	max-width: 1920px;
	min-width: 420px;
	height: 600px;
	margin-left: -8px;
	margin-top: -8px;
	text-align: center;
}

.topNav {
	background-color: rgb(120,120,120);
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 34px;
}

.topNav a{
	float: left;
	display: block;
	font-size: 20px;
	padding: 5px 20px;
	color: rgb(255,255,255);
	text-decoration: none;
	text-align: center;
}

.topNav a:visited {
	text-decoration: none;
}

.topNav a:hover, a:active {
	background-color: rgb(80,80,80);
	text-decoration: underline;
}

.topNav .openButton {
	display: none;
	background-color: rgb(1,1,1);
	height: 25px;
}

@media screen and (max-width: 600px) {
	.topNav a:not(:first-child) {display: none;}
	.topNav a.openButton {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topNav.responsive {
		position: fixed;
		height: 150px;
	}
	.topNav.responsive .openButton {
		position: fixed;
		right: 0;
		top: 0;
	}
	.topNav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}