@import url(https://fonts.googleapis.com/css?family=Rubik);

@font-face {
	font-family: Rubik;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgb(30,30,30);
	text-align: center;
	font-family: Rubik;
	color: rgb(255,255,255);
}

h1 {
	
}

p {
	font-size: 16px;
}

div {
	background: url() no-repeat;
	background-size: 100%;
	width: 100%;
	max-width: 1920px;
	min-width: 240px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.openButton {
	background-color: rgb(255,255,255);
}

.mainIndex {
	background: url() no-repeat;
	background-color: rgb(60,60,60);
	height: 650px;
}

.mainText {
	margin-top: 18%;
	font-size: 40px;
}

.topNav {
	background-color: rgb(120,120,120);
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 39px;
	opacity: 0.9;
}

.topNav a{
	float: left;
	display: block;
	font-size: 18px;
	padding: 10px 20px;
	color: rgb(255,255,255);
	text-decoration: none;
	text-align: center;
}

.topNav a:visited {
	text-decoration: none;
}

.topNav a:hover, a:active {
	background-color: rgb(80,80,80);
	text-decoration: underline;
	opacity: 1;
}

.topNav .openButton {
	display: none;
	background-color: rgb(1,1,1);
	height: 20px;
}

@media screen and (max-width: 600px) {
	p {
		margin: 60px 10% 0 10%;
	}
	.mainText {
		margin-top: 30%;
		font-size: 30px;
	}
	.topNav a:not(:first-child) {
		display: none;
	}
	.topNav a.openButton {
		float: right;
		display: block;
	}
	.topNav.responsive {
		position: fixed;
	}
	.topNav.responsive .openButton {
		position: fixed;
		right: 0;
		top: 0;
	}
	.topNav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}