.tictactoe-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	background-color: rgb(10,10,10);
	min-width: 0px;
	max-width: 500px;
	margin: auto;
}

.tictactoe-info {
	background-color: rgb(80,80,80);
	grid-column: 1 / -1;
	min-width: 0px;
	height: 180px;
	padding: 20px 0px;
	font-size: 12px;
}

.tictactoe-gameinfo {
	font-size: 25px;
	margin: -2px;
}

.tictactoe-startbutton {
	background-color: rgb(10,190,90);
	color: rgb(255,255,255);
	padding: 15px 60px;
	margin: 10px;
	text-decoration: none;
	text-align: center;
	border-radius: 20px;
	display: inline-block;
	font-size: 20px;
	box-shadow: 0px 5px 0px 0px rgb(30 90 30);
}

.tictactoe-startbutton:hover {
	background-color: rgb(70,250,150);
}

.tictactoe-startbutton:active {
	background-color: rgb(0,180,80);
	padding: 16px 61px;
}

.tictactoe-item {
	background-color: rgb(80,80,80);
	text-align: center;
	font-size: 80px;
	min-width: 0px;
	height: 100px;
	text-decoration: none;
	color: rgb(255,255,255);
}

.tictactoe-item:hover {
	background-color: rgb(100,100,100);
}

.tictactoe-item:active {
	background-color: rgb(60,60,60);
}

@media screen and (max-width: 700px) {
	.tictactoe-info {
		background-color: rgb(80,80,80);
		grid-column: 1 / -1;
		min-width: 0px;
		height: 160px;
		padding: 20px 0px;
		font-size: 12px;
	}

	.tictactoe-gameinfo {
		font-size: 20px;
		margin: -2px;
	}
}